.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  height: 93.4%;
}
.example-sidenav {
  user-select: none;
  background-color: #00074d;
}
.colorw {
  color: white;
}
.style {
  margin: 20px 20px 0px 0px;
  // background: rgba(84, 97, 114, 0.4);
}
.design{
  text-align: center;
  font-size: 17px;
  // background: rgba(84, 97, 114, 0.4);
  padding-top: 15px;
  padding-bottom: 15px;
}
.full-width {
  width: 100%;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
}
.submenu.expanded {
  transform: scaleY(1);
}
.menu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
}
.menu.expanded {
  transform: scaleY(1);
}
.material-icons {
  cursor: pointer;
  // font-size: 30px;
}
