<!-- <app-chart-spline></app-chart-spline>
<app-chart></app-chart> -->

<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div fxLayout="row wrap" fxLayoutAlign="flex-start center" fxLayoutGap="33px">
    <mat-card
      fxFlex.lt-sm="100"
      fxFlex.sm="47"
      fxFlex.gt-sm="23"
      class="card"
      fxLayoutAlign="row wrap"
      fxLayoutAlign="space-between"
      style="border-left: 5px solid rgb(0, 189, 252)"
    >
      <div>
        <h1 class="h11">4500</h1>
        <h3>Total Orders</h3>
      </div>
      <div class="iconbg1">
        <span class="material-icons"> shopping_cart </span>
      </div>
    </mat-card>

    <mat-card
      fxFlex.lt-sm="100"
      fxFlex.sm="47"
      fxFlex.gt-sm="23"
      class="card"
      fxLayoutAlign="row wrap"
      fxLayoutAlign="space-between"
      style="border-left: 5px solid rgb(255, 72, 102)"
    >
      <div>
        <h1 class="h12">7850</h1>
        <h3>Total Expenses</h3>
      </div>
      <div class="iconbg2">
        <span class="material-icons"> payments </span>
      </div>
    </mat-card>

    <mat-card
      fxFlex.lt-sm="100"
      fxFlex.sm="47"
      fxFlex.gt-sm="23"
      class="card"
      fxLayoutAlign="row wrap"
      fxLayoutAlign="space-between"
      style="border-left: 5px solid rgb(19, 190, 19)"
    >
      <div>
        <h1 class="h13">87.5%</h1>
        <h3>Total Revenue</h3>
      </div>
      <div class="iconbg3">
        <span class="material-icons"> monetization_on </span>
      </div>
    </mat-card>

    <mat-card
      fxFlex.lt-sm="100"
      fxFlex.sm="47"
      fxFlex.gt-sm="23"
      class="card"
      fxLayoutAlign="row wrap"
      fxLayoutAlign="space-between"
      style="border-left: 5px solid #ff9100"
    >
      <div>
        <h1 class="h14">8400</h1>
        <h3>New Users</h3>
      </div>
      <div class="iconbg4">
        <span class="material-icons"> person </span>
      </div>
    </mat-card>
  </div>

  <div fxLayoutAlign="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <mat-card fxFlex="55%">
      <div fxLayoutAlign="row wrap" fxLayoutAlign="space-between">
        <h2>Sales Of The Year</h2>
      </div>
      <div>
        <app-new-chart></app-new-chart>
      </div>
    </mat-card>
    <mat-card fxFlex="45%">
      <h2 fxLayoutAlign="center center">Orders Overview</h2>
      <div>
        <app-donuts-chart></app-donuts-chart>
      </div>
    </mat-card>
  </div>

 
  <div
    fxLayoutAlign="row wrap"
    fxLayoutAlign="space-between" 
  >
    <mat-card style="margin-top: 15px;" fxFlex="100%">
      <div fxLayoutAlign="row wrap" fxLayoutAlign="space-between">
        <h2>Recent Orders</h2>
        <div>
          <span class="fill-remaining-space">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" [overlapTrigger]="false">
              <button mat-menu-item>
                <span>Expand</span>
              </button>
              <button mat-menu-item>
                <span>Another action</span>
              </button>
              <button mat-menu-item>
                <span>Another action</span>
              </button>
            </mat-menu>
          </span>
        </div>
      </div>
      <div>
        <app-table></app-table>
      </div>
    </mat-card>
  </div>

  <div style="margin-top: 15px;" fxLayoutAlign="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <mat-card fxFlex="60%">
      <div fxLayoutAlign="row wrap" fxLayoutAlign="space-between">
        <h2>Sales Of The Year</h2>
      </div>
      <div>
        <app-chart-sec></app-chart-sec>
      </div>
    </mat-card>
    <mat-card fxFlex="35%">
      <h2 fxLayoutAlign="center center">Orders Overview</h2>
      <div>
        <app-polar-chart></app-polar-chart>
      </div>
    </mat-card>
  </div>

  <div style="margin-top: 15px;" fxLayoutAlign="row wrap" fxLayoutGap="20px" fxLayoutAlign="space-around">
    <mat-card fxFlex="30%">
      <div fxLayoutAlign="row wrap" fxLayoutAlign="space-between">
        <h2>Sales Of The Year</h2>
      </div>
      <div>
        <app-chart-sec></app-chart-sec>
      </div>
    </mat-card>
    <mat-card fxFlex="65%">
      <h2 fxLayoutAlign="center center">Orders Overview</h2>
      <div>
        <app-polar-chart></app-polar-chart>
      </div>
    </mat-card>
  </div>

</div>
