<h1
  style="
    font-weight: 700;
    font-size: xx-large;
    margin-top: 20px;
    margin-left: 10px;
  "
>
  Dashboard
</h1>

<div fxLayoutAlign="row wrap" fxLayoutGap="20px">
  <mat-card class="card" fxLayoutAlign="center center">Card 1</mat-card>
  <mat-card class="card" fxLayoutAlign="center center">Card 2</mat-card>
  <mat-card class="card" fxLayoutAlign="center center">Card 3</mat-card>
  <mat-card class="card" fxLayoutAlign="center center">Card 4</mat-card>
</div>

<app-new-chart></app-new-chart>
<app-chart-spline></app-chart-spline>
<app-chart></app-chart>
