.card {
  margin: 10px;
  height: 100px;
  width: 300px;
}
.mat-h1 {
  font-size: 30px;
  font-weight: 700;
  margin-left: 6px;
}
.h11 {
  color: rgb(0, 189, 252);
  font-size: 26px;
  font-weight: 600;
}
.iconbg1 {
  background-image: linear-gradient(
    to right,
    rgb(0, 189, 252),
    rgb(126, 223, 255)
  );
  margin: 2px;
  padding: 20px;
  color: white;
  border-radius: 60px;
}
.h12 {
  color: rgb(255, 72, 102);
  font-size: 26px;
  font-weight: 600;
}
.iconbg2 {
  background-image: linear-gradient(
    to right,
    rgb(255, 72, 102),
    rgb(245, 128, 147)
  );
  margin: 2px;
  padding: 20px;
  color: white;
  border-radius: 60px;
}
.h13 {
  color: rgb(19, 190, 19);
  font-size: 26px;
  font-weight: 600;
}
.iconbg3 {
  background-image: linear-gradient(to right, rgb(19, 190, 19), rgb(9, 110, 9));
  margin: 2px;
  padding: 20px;
  color: white;
  border-radius: 60px;
}
.h14 {
  color: #ff9100;
  font-size: 26px;
  font-weight: 600;
}
.iconbg4 {
  background-image: linear-gradient(to right, #ff9100, #f8b863);
  margin: 2px;
  padding: 20px;
  color: white;
  border-radius: 60px;
}
.card2 {
  margin: 10px;
}
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
